
/* document stylesheet */
body {
	background-color: rgb(167, 204, 99);
	padding: 10%;
}

h2 {
	text-align: center;
}
tr{
	background-color: rgb(198, 181, 247);
}
div{
	background-color: rgb(153, 143, 180);
}
/* form apperance like color,width,display, text color */
form {
	max-width: 500px;
	width: 100%;
	margin: auto;
	background-color: rgb(162, 152, 201);
	display: block;
	padding: 15px;
	border-radius: 20px;
	color: 	#000000fb;
}
/* fieldset display and size */

fieldset > div {
	display: inline-block;
	width: 100%;
}
	

fieldset {
	display: inline;
	padding: 0;
	margin: 10px 0px 10px 0px;
	border: 4px solid hsl(13, 15%, 88%);

}

legend {
	font-weight:bolder;
}
/* lael tag stylings */
label {
	margin: 10px 0px 3px 10px;
	display: block;
	color: 	#000000;
}
#strong {
	margin: 0px 0px 0px 10px;
	display: inline-block;
	font-size: small;
}
/* submit button style wen negation match */
input:not([type = "submit"]), select {
	padding: 10px 15px;
	box-sizing: border-box;
	border-style: solid;
	width: 100%;
	border-radius: 20px;
	background: rgb(244, 244, 247);
}

  /* Style the submit button */
input[type=submit] {
	background-color: rgb(133, 133, 231);
	color: hsl(0, 0%, 0%);
	padding: 14px 20px;
	margin: auto;
	margin-top: 20px;
	border: none;
	border-radius: 20px;
	cursor:grab;
	display: inline;
	font-weight: bolder;
 }

	/*effect on mouse-over submit button */
input[type=submit]:hover {
		background-color: #2f00ff;
	  }
/* for valid input border color of fields */
input:valid {
	  border-color: green;
	  border-width: 2px;
}

input:focus-visible {
	outline: none;
	background-color: rgb(186, 208, 221);
}

/* address item sizes */
#mystreet, #mycountry {width: 100%;}
#mystate, #mypostcode {width: 21%;}
#mysuburb {width: 56%;}