
#blog {
    padding: 150px 150px 0 150px;

}

#blog .blog-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-bottom: 30px;
}

#blog .blog-img {
    width: 50%;
    height:500px;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    top: 4px;
    right: -60px;
    position: absolute;
}

#blog .blog-details a:hover {
    color: #088178;
}

#blog .blog-details a:hover::after {
    background-color: #088178;
}

#blog .blog-box h1 {
    position: absolute;
    font-weight: 700;
    font-size: 70px;
    color: #088178;
    top: -70px;
    left: 0;
    z-index: -9;
}
