/* Cart Page */

#cart-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #cart-details .details {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #cart-details .details table {
    border-collapse: collapse;
    width: 90vw;
  }
  
  #cart-details .details table tr {
    border-bottom: 1px solid #ddd;
  }
  
  #cart-details .details table tr th {
    text-align: left;
    padding: 10px;
  }
  
  #cart-details .details table tr td {
    text-align: left;
    padding: 10px;
  }
  
  #cart-details .details table tr th:first-child {
    text-align: left;
  }
  
  #cart-details .details table tr td:first-child {
    text-align: left;
  }
  
  #cart-details .details table tr th:last-child {
    text-align: right;
  }
  
  #cart-details .details table tr td:last-child {
    text-align: right;
  }
  
  #cart-details .details table tr td div {
    display: flex;
    align-items: center;
  }
  
  #cart-details .details table tr td i {
    cursor: pointer;
  }
  
  #cart-details .details table tr td div .info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
  #cart-details .details table tr td div .info h5 {
    font-size: 15px;
    font-weight: 700;
    color: #088178;
  }
  
  #cart-details .details table tr td div .info p {
    font-size: 15px;
    font-weight: 700;
  }
  
  #cart-details .details table tr td img {
    width: 100px;
    border-radius: 20px;
  }
  
  #cart-details .details table tr td .quantity p {
    padding: 10px 10px 0px 10px;
  }
  
  #cart-details .details .total {
    width: 90vw;
    border-bottom: 1px solid #ddd;
    padding: 16px 0px;
    display: flex;
    justify-content: flex-end;
  }
  #cart-details .details .total span {
    font-size: 15px;
    font-weight: 700;
    color: #088178;
  }
  
  #cart-details .details .checkout-button {
    margin-top: 20px;
    width: 90vw;
    display: flex;
    justify-content: flex-end;
  }
  
  #cart-details .details .checkout-button button {
    background-color: #088178;
    color: #fff;
  }
  