#page-header {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-image: url("images/banner/b1.jpg");
    background-size: cover;
    padding: 14px;
  }
  
  h2.search {
    font-size: 38px;
    line-height: 54px;
    color: #088178;
  }
  
  #pagination {
    text-align: center;
  }
  
  #pagination a {
    text-decoration: none;
    background: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
  }
  
  #pagination a i {
    font-size: 16px;
    font-weight: 600;
  }
  
  #product_search_result {
    text-align: center;
  }
  
  #product_search_result .pro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
  }
  
  #product_search_result .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    transition: 0.2s;
    position: relative;
    cursor: pointer;
    box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
  }
  
  #product_search_result .pro:hover {
    box-shadow: 20px 20px 30px rgba(118, 241, 101);
    transform: scale(0.9);
  }
  
  #product_search_result .pro img {
    width: 100%;
    border-radius: 20px;
  }
  
  #product_search_result .pro .des {
    text-align: start;
    padding: 10px 0;
  }
  
  #product_search_result .pro .des span {
    color: #606063;
    font-size: 12px;
  }
  
  #product_search_result .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
    transition: 0.2s;
  }
  
  #product_search_result .pro:hover .des h5 {
    color: #088178;
  }
  
  #product_search_result .pro .des i {
    color: rgb(240, 177, 18);
    font-size: 12px;
  }
  
  #product_search_result .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
  }
  
  #product_search_result .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    transition: 0.2s;
    position: absolute;
    bottom: 20px;
    right: 10px;
  }
  
  #product_search_result .pro .cart:hover {
    color: #fff;
    background: #088178;
    font-weight: 400;
  }
  