#page-header {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:left;
    background-image: url("images/banner/b1.jpg");
    background-size: cover;
    padding: 14px;
}

h2.shop {
    font-size: 38px;
    line-height: 54px;
    color: #088178;
    
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

#product1 {
   
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap:2rem;
}
