/* Sign Up page */

.form-flex {
    background-color:#f1eded;
    justify-content: center;
    align-items: center;

  
    padding: 8%;
  }
  
  form {
    max-width: 800px;
    width: 100%;
    margin-left: 20px;
    background-color: #088178;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 60px;
    color: rgb(255, 255, 255);
    font-size: x-large;
    font-weight: bold;
  }

  
  
  fieldset {
    display: inline;
    padding: 0;
    margin: 10px 0px 10px 0px;
    border: none;
  }
  
  fieldset div {
    display: inline-block;
    width: 100%;
    font-weight: bold;
  }
  input {
    font-weight: bold;
    font-size: large;
    color:black;
    
  }
  legend {
    font-weight: bold;
  }
  
  #streetGroup,
  #country_group {
    width: 100%;
  }
  #stateGroup,
  #postode_group {
    width: 20%;
  }
  #suburb_group {
    width: 56%;
  }
  
  label,
  a#ageHelpLink {
    margin: 10px 0px 3px 10px;
    display: block;
    color: rgb(255, 255, 255);
  }
  
  #passwordStrength {
    margin: 0px 0px 0px 10px;
    display: inline-block;
    font-size: small;
  }
  
  input:not([type="submit"]),
  select {
    padding: 12px 15px;
    box-sizing: border-box;
    border-style: solid;
    width: 100%;
    border-radius: 20px;
    background: rgb(255, 255, 255);
  }
  
  /* Style the submit button */
  input[type="submit"] {
    background-color: var(--black);
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: auto;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: inline;
    font-size: x-large;
    font-weight: bold;
  }
  
  /* Add a background color to the submit button on mouse-over */
  input[type="submit"]:hover {
    background-color:  #087981;
  }
  
  input:valid {
    border-color: rgb(232, 248, 238);
    border-width: 2px;
  }
  
  input:invalid {
    border-color: rgb(238, 71, 71);
    border-width: 2px;
  }
  
  input:focus-visible {
    outline: none;
    background-color: #ffffff;
  }