@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #088178;
}

h3 {
  color: white;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #088178;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  background: transparent;
  padding: 11px 18px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.2 ease;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  height: 80px;
  width: 80px;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  justify-content: end;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#navbar li a i {
  font-weight: 500;
  font-size: 20px;
}

#navbar .searchbar input {
  border: none;
  outline: none;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  padding: 10px 12px;
}
#navbar .searchbar button {
  border: none;
  outline: none;
  border: 1px solid #f1f1f1;
  background-color: #088178;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .logo {
  margin-bottom: 30px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  margin-bottom: 10px;
  color: #222;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

/* Shop Page */

/* Blog Page */

/* Start Media Query */

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px;
  }

  header {
    padding: 20px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding: 80px 0 0 10px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #navbar.active {
    right: 0;
  }

  #navbar .searchbar input {
    border: none;
    outline: none;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    padding: 10px 12px;
  }
  #navbar .searchbar button {
    border: none;
    outline: none;
    border: 1px solid #f1f1f1;
    background-color: #088178;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
  }

  #mobile {
    display: flex;
  }
  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #bar {
    display: initial;
  }
  #close {
    display: initial;
    font-size: 24px;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
  }
  #lg-bag,
  #lg-search {
    display: none;
  }
  #hero {
    padding: 0 80px;
    height: 70vh;
    background-position: top 30% right 30%;
  }
  #feature {
    justify-content: center;
  }
  #feature .fe-box {
    margin: 15px;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
  }
  #banner {
    height: 20vh;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    padding: 30px;
  }
  #banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
  }
  #banner3 .banner-box {
    width: 28%;
  }
  #newsletter .form {
    width: 70%;
  }
  /* Contact Page */
  #form-details.contactPage {
    padding: 40px;
  }
  #form-details form {
    width: 50%;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  header {
    padding: 20px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  #header {
    padding: 10px 30px;
  }
  #hero {
    padding: 0 20px;
    height: 70vh;
    background-position: 55%;
  }
  #feature {
    justify-content: space-between;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }
  #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #sm-banner .banner-box {
    height: 40vh;
  }
  #sm-banner .banner-box {
    margin-top: 20px;
  }
  #banner3 {
    padding: 0 20px;
  }
  #banner3 .banner-box {
    width: 100%;
  }
  #newsletter {
    padding: 40px 20px;
  }
  #newsletter .form {
    width: 100%;
  }
  footer .copyright {
    text-align: start;
  }
  /* Blog Page */
  #blog {
    padding: 100px 20px 20px 20px;
  }
  #blog .blog-box {
    flex-direction: column;
    align-items: flex-start;
  }
  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  #blog .blog-details {
    width: 100%;
  }
  #about-app .video {
    width: 100%;
  }
  /* About Page */
  #about-head {
    flex-direction: column;
  }
  #about-head img {
    width: 100%;
  }
  #about-head div {
    padding-top: 20px;
    padding-left: 0px;
  }
  /* Contact Page */
  #contact-details .details {
    width: 100%;
    padding-bottom: 30px;
  }
  #contact-details .map {
    width: 100%;
  }
  #contact-details {
    flex-wrap: wrap;
  }
  #form-details {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }
  #form-details form {
    width: 100%;
    padding-bottom: 30px;
  }
  /* Cart Page */
  #cart-add {
    flex-direction: column;
  }
  #cuopon,
  #subtotal {
    width: 100%;
  }
  #subtotal {
    padding: 20px;
  }
  /* SIngle Product */
  #prodetails {
    flex-direction: column;
  }
  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }
  #prodetails .single-pro-details {
    width: 100%;
    padding-top: 30px;
  }
}
