body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(233, 186, 129);
  }
  
  .navbar {
    overflow:hidden;
    background-color: rgb(7, 119, 35);
    display: block;
    padding-top:100px;
  }
  
  .navbar a {
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .navbar button {
    float: center;
    gap: 100px;
    

  }
   
  .navbar button:hover {
    background-color: rgb(196, 236, 16);
    color: black;
  }
  .navbar button:active{
    background-color: rgb(196, 236, 16);
  }
  .navbar button:on-click{
    background-color: rgb(196, 236, 16);

  }



/* document style sheet */

/* card container style */
.container{
  margin:0 auto;
  padding: 48px 32px;
}

.container .title{
  font-size: 1.5rem;
  color:#444;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}

/* card display style usig grid template */
.products-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  gap:3rem;
}

/* card's elements placement and their style*/
.product{
  text-align: center;
  padding:3rem 2rem;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  outline: 1rem solid rgb(7, 119, 35);
  cursor: pointer;
}
/* effect on hovering mouse on card */
.product:hover{
  outline: .2rem solid #222;
  outline-offset: 0;
}

.product img{
  height: 10rem;
}
/* hovering effect on image */
img:hover {
  transform: scale(.9);
}
/* card heading style */
.product h3{
  padding:.5rem 0;
  font-size: 2rem;
  color:#444;
}

.product:hover h3{
  color:#27ae60;
}

.price{
  font-size: 2rem;
  color:#444;
}
/* button display */
.buttons {
  display: inline-block;
  margin: 10px,20px;
 


}
/* button element's styling */
.buttons a{  
  padding: 0.2em;
  font-size: 1rem;
  color:rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.buttons a.cart{
  color:rgb(8, 8, 8);
}

.buttons a.buy{
  color:rgb(0, 0, 0);
  
}
/* hovering effect */
.buttons:hover{
  background: rgb(185, 204, 13);
}




@media (max-width:991px){

  html{
     font-size: 55%;
  }

}

@media (max-width:450px){

  html{
     font-size: 50%;
  }

}









  .footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(7, 119, 35);
    color: rgb(0, 0, 0);
    text-align: center;
 }
  
 