/*-------------------
Style Sheet for {Project name and url}

author: {Sandeep Gautam}
email: {S348351@students.cdu.edu.au}
website: {portfolio}
---------------------*/

/*
	Vendor imports (libs etc)
*/
@import "vendor/normalize.css";
@import "vendor/browserupgrade.css";

/*
	Our imports
*/
@import "lib/nav.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

/*
	Colour Theme
*/

:root {
  --cream: #fef9ef;
  --red: #fe6d73;
  --yellow: #ffcb77;
  --green: #17c3b2;
  --darkerGreen: #10867b;
  --blue: #227c9d;
}

/*
	Generalized styles
*/

* {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#indexNav {
  width: 60%;
  margin: auto;
  /* Center vertically */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.indexNavButton {
  width: 30%;
  min-width: 100px;
  text-align: center;
  padding: 5%;
  margin: auto;
  font-size: x-large;
  color: var(--cream);
  text-decoration: none;
  background-color: var(--red);
  border-radius: 50px;
}

.indexNavButton:hover {
  background-color: #e65c61;
}

.indexNavButton:focus {
  outline: black 1px solid;
  outline-offset: 0px;
  border: none;
}

@media only screen and (max-width: 500px) {
  #indexNav {
    flex-direction: column;
  }

  .indexNavButton {
    margin-bottom: 20px;
  }
}

.form-wrapper {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSagHJWOQDrKifCSsyc6tDfM-OM-T9J89SJys-tJyD_ms1YC_Jl6xWQ5z7-yJdtjT7YLlA&usqp=CAU");

  padding: 8%;
}

form {
  max-width: 500px;
  width: 100%;
  margin-left: 5px;
  background-image: url("https://www.thespruceeats.com/thmb/ZnWDXm0VjfY2wy25ocFqZccy5YY=/2164x1217/smart/filters:no_upscale()/freshvegetablesAlexRaths-4c1ea186a88e4fd7b95283eee614600c.jpg");
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 90px;
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-weight: bold;
}

fieldset {
  display: inline;
  padding: 0;
  margin: 10px 0px 10px 0px;
  border: none;
}

fieldset > div {
  display: inline-block;
  width: 100%;
  font-weight: bold;
}
input {
  font-weight: bold;
  font-size: large;
}
legend {
  font-weight: bold;
}

#streetGroup,
#country_group {
  width: 100%;
}
#stateGroup,
#postode_group {
  width: 20%;
}
#suburb_group {
  width: 56%;
}

label,
a#ageHelpLink {
  margin: 10px 0px 3px 10px;
  display: block;
  color: var(--cream);
}

#passwordStrength {
  margin: 0px 0px 0px 10px;
  display: inline-block;
  font-size: small;
}

input:not([type="submit"]),
select {
  padding: 12px 15px;
  box-sizing: border-box;
  border-style: solid;
  width: 100%;
  border-radius: 20px;
  background: var(--cream);
}

/* Style the submit button */
input[type="submit"] {
  background-color: var(--black);
  color: var(--cream);
  padding: 14px 20px;
  margin: auto;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: inline;
  font-size: x-large;
  font-weight: bold;
}

/* Add a background color to the submit button on mouse-over */
input[type="submit"]:hover {
  background-color: rgb(236, 191, 191);
}

input:valid {
  border-color: rgb(29, 221, 103);
  border-width: 2px;
}

input:invalid {
  border-color: red;
  border-width: 2px;
}

input:focus-visible {
  outline: none;
  background-color: var(--cream);
}

/* 
	Card Grid
*/
.card-grid-page {
  background-color: #f9f9f9;
  padding: 8%;
}
.card-grid-wrapper {
  width: 100%;
}

.card-grid-wrapper .card-grid {
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 992px) {
  .card-grid-wrapper .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .card-grid-wrapper .card-grid {
    grid-template-columns: 1fr;
  }
}

.card-grid-wrapper .card-grid .card {
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.card-grid-wrapper .card-grid .card:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.card-grid-wrapper .card-grid .card .image {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e9e9e9;
}

.card-grid-wrapper .card-grid .card .image img {
  height: 250px;
}

.card-grid-wrapper .card-grid .card .lowerinfo {
  padding: 20px 20px;
}

.card-grid-wrapper .card-grid .card .lowerinfo h4 {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #888;
  margin: 0;
}

.card-grid-wrapper .card-grid .card .lowerinfo h3 {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  margin: 10px 0px;
}

.card-grid-wrapper .card-grid .card .lowerinfo .discount {
  display: flex;
  align-items: center;
  margin: 0px 0px;
}

.card-grid-wrapper .card-grid .card .lowerinfo .discount .originalPrice {
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  color: #b6b6b6;
  text-decoration: line-through;
  font-size: 14px;
  margin: 0px;
}

.card-grid-wrapper .card-grid .card .lowerinfo .discount .percent {
  margin: 0px;
  margin-left: 10px;
  padding: 3px 4px;
  background-color: var(--red);
  color: var(--cream);
  font-size: 12px;
  border-radius: 4px;
}

.card-grid-wrapper .card-grid .card .lowerinfo button {
  margin-top: 16px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--cream);
}

.card-grid-wrapper .card-grid .card .lowerinfo button:hover {
  background-color: #1b7697;
}
