/* document style sheet */
*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}

body{
   background: #eee;
}

/* card container style */
.container{
   max-width: 1200px;
   margin:0 auto;
   padding: 48px 32px;
}

.container .title{
   font-size: 3.5rem;
   color:#444;
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-align: center;
}

/* card display style usig grid template */
.products-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

/* card's elements placement and their style*/
.product{
   text-align: center;
   padding:3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
   cursor: pointer;
}
/* effect on hovering mouse on card */
.product:hover{
   outline: .2rem solid #222;
   outline-offset: 0;
}

.product img{
   height: 25rem;
}
/* hovering effect on image */
img:hover {
   transform: scale(.9);
}
/* card heading style */
.product h3{
   padding:.5rem 0;
   font-size: 2rem;
   color:#444;
}

.product:hover h3{
   color:#27ae60;
}

.price{
   font-size: 2rem;
   color:#444;
}
/* button display */
.buttons {
   display: flex;
   flex-wrap: wrap;
   margin-top: 1rem;
   float: right;
}
/* button element's styling */
.buttons a{  
   padding:1rem;
   font-size: 1.8rem;
   color:#444;
   border:.1rem solid #444;
}

.buttons a.cart{
   background: #444;
   color:#fff;
   margin-right:135px;
   float: left;
}

.buttons a.buy{
   background: #444;
   color:#fff;
   
}
/* hovering effect */
.buttons a.cart:hover{
   background: #111;
}

.buttons a.buy:hover{
   background: rgb(10, 7, 7);
   color:#fff;
}


@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}